.title {
  text-align: center;
  /* text-transform: uppercase; */
  color: rgba(43, 29, 245, 0.8);
  text-shadow: 0 0 10px rgba(43, 29, 245, 0.3);
  text-decoration: none;

  display: flex;
  flex-direction: column;
}

.title:not(:first-child) {
  margin-top: 10px;
}
